{{/* Decorative Background - Converted from React component */}}
<div class="decorative-background">
    <div class="decorative-section">
        <div class="decorative-top"></div>
        <div class="decorative-middle">
            <div class="decorative-bar-container">
                <div class="decorative-bar"></div>
                <div class="decorative-bar"></div>
            </div>
            <div class="decorative-bar-white"></div>
        </div>
        {{ partial "blog-grid.html" . }}
    </div>
</div>

