<header id="banner">
    <div class="header-content">
        <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
        
        {{/* Search functionality */}}
        {{ if .Site.Params.enableSearch -}}
        <div class="search-container">
            <div class="search-box">
                <div class="search-input-wrapper">
                    <input type="text" 
                           id="search-input" 
                           placeholder="Search content... (try: knowledge management, epistemology, digital era)"
                           autocomplete="off"
                           spellcheck="false">
                    <div class="search-icon">🔍</div>
                    <div class="search-clear" style="display: none;">✕</div>
                </div>
                <div class="search-suggestions" id="search-suggestions"></div>
            </div>
            <div class="search-results" id="search-results" style="display: none;">
                <div class="search-results-header">
                    <span class="results-count">0 results</span>
                    <div class="search-filters">
                        <label>
                            <input type="checkbox" id="filter-posts" checked> Posts
                        </label>
                        <label>
                            <input type="checkbox" id="filter-mocs" checked> Knowledge Maps
                        </label>
                        <label>
                            <input type="checkbox" id="filter-pages" checked> Pages
                        </label>
                    </div>
                </div>
                <div class="search-results-list"></div>
            </div>
        </div>
        {{ end -}}
        
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                {{ range .Site.Menus.main.ByWeight -}}
                <li>
                    {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
                </li>
                {{- end }}
                
                {{/* Additional navigation for knowledge base features */}}
                {{ if .Site.Params.enableGraph -}}
                <li><a href="/graph" title="Knowledge Graph">Graph</a></li>
                {{ end -}}
                
                {{ if .Site.Params.enableSearch -}}
                <li><a href="/search" title="Advanced Search">Search</a></li>
                {{ end -}}
            </ul>
        </nav>
    </div>
    
    {{/* Breadcrumb navigation for pages */}}
    {{ if .IsPage -}}
    <nav class="breadcrumb">
        <ol>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            {{ if .Section -}}
            <li><a href="/{{ .Section }}/">{{ .Section | title }}</a></li>
            {{ end -}}
            <li class="current">{{ .Title }}</li>
        </ol>
    </nav>
    {{ end -}}
</header>
