<header class="figma-header">
    <div class="figma-container">
        <div class="figma-nav">
            <a href="{{ .Site.BaseURL }}" class="figma-nav-brand">
                {{ .Site.Title }}
            </a>
            
            <ul class="figma-nav-links">
                <li><a href="/about" class="figma-nav-link">About</a></li>
                {{ range .Site.Menus.main.ByWeight -}}
                <li>
                    <a href="{{ .URL }}" class="figma-nav-link" title="{{ .Title }}">{{- .Name -}}</a>
                </li>
                {{- end }}
                
                {{/* Additional navigation for knowledge base features */}}
                {{ if .Site.Params.enableGraph -}}
                <li><a href="/graph" class="figma-nav-link" title="Knowledge Graph">Graph</a></li>
                {{ end -}}
                
                {{ if .Site.Params.enableSearch -}}
                <li><a href="/search" class="figma-nav-link" title="Advanced Search">Search</a></li>
                {{ end -}}
            </ul>
        </div>
        
        {{/* Search functionality */}}
        {{ if .Site.Params.enableSearch -}}
        <div class="search-container">
            <div class="search-box">
                <div class="search-input-wrapper">
                    <input type="text" 
                           id="search-input" 
                           placeholder="Search content... (try: knowledge management, epistemology, digital era)"
                           autocomplete="off"
                           spellcheck="false">
                    <div class="search-icon">🔍</div>
                    <div class="search-clear" style="display: none;">✕</div>
                </div>
                <div class="search-suggestions" id="search-suggestions"></div>
            </div>
            <div class="search-results" id="search-results" style="display: none;">
                <div class="search-results-header">
                    <span class="results-count">0 results</span>
                    <div class="search-filters">
                        <label>
                            <input type="checkbox" id="filter-posts" checked> Posts
                        </label>
                        <label>
                            <input type="checkbox" id="filter-mocs" checked> Knowledge Maps
                        </label>
                        <label>
                            <input type="checkbox" id="filter-pages" checked> Pages
                        </label>
                    </div>
                </div>
                <div class="search-results-list"></div>
            </div>
        </div>
        {{ end -}}
    </div>
    
    {{/* Breadcrumb navigation for pages */}}
    {{ if .IsPage -}}
    <nav class="breadcrumb">
        <div class="figma-container">
            <ol>
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                {{ if .Section -}}
                <li><a href="/{{ .Section }}/">{{ .Section | title }}</a></li>
                {{ end -}}
                <li class="current">{{ .Title }}</li>
            </ol>
        </div>
    </nav>
    {{ end -}}
</header>
